<!-- WELCOME -->
  <header data-jarallax data-speed=".8" style="background-image: url(assets/img/cover.jpg);">
  <!-- <header data-jarallax data-speed=".8" style="background-color: #656746;"> -->
    <div class="d-flex flex-column min-vh-100 bg-black-25 pt-10 pt-md-8 pb-7 pb-md-0">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Preheading -->
            <!-- <h6 class="text-xs text-white-75">
              <span class="text-primary">Wine</span> Merchants
            </h6> -->

            <!-- Heading -->
            <!-- <h1 class="display-1 text-white mb-4">
              REVOLUTION
            </h1> -->
            <div class="mx-auto" style="max-width:480px;">
            <img class="img-fluid" src="assets/img/logo.png">
            </div>
            <!-- Subheading -->
            <div class="mx-auto">
              <h4 class="text-justify mx-auto text-white-75 mt-7 mb-7 hero-text">
                Coming soon!
              </h3>
            </div>

            <!-- Button
            <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="assets\Revolution_Full_Brochure_Final8LR.pdf">
              Our Producers
            </a>-->

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">

            <!-- Social links -->
            <ul class="list-inline text-center text-md-start mb-3 my-md-5">
              <li class="list-inline-item">
                <a class="text-white-75 text-primary-hover" href="mailto:susan@susanjuliaoliveoil.com">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
              <!-- <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li> -->
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="https://www.instagram.com/susanjuliaoliveoil/">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
              <!-- <i class="fas fa-map-marker-alt text-primary me-3"></i> 1234 Dining Str., Los Angeles, CA 12345-0000 -->
            </p>

          </div>
        </div>
      </div>
    </div>
  </header>
